{% extends '../_base.html' %}
{% block main %}
  <main id="main">
    <section id="popular-courses" class="courses" style="margin-top: 70px;">
      <div class="container" data-aos="fade-up">
        <div class="section-title">
          <h2>Password Change</h2>
          <p>Conpleted</p>
        </div>

        <p>
          You've successfuly changed your password. <a href="{% url 'home' %}">Home</a>
        </p>
      </div>
    </section>
    <!-- End Popular Courses Section -->
  </main>
{% endblock %}
