{% extends '../_base.html' %}
{% block header %}
  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">
      <h1 class="logo me-auto"><a href="{% url 'home' %}">Educa</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a> -->

      <nav id="navbar" class="navbar order-last order-lg-0"></nav>
      <!-- .navbar -->

      <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <button type="submit">Logout</button>
      </form>
    </div>
  </header>
  <!-- End Header -->
{% endblock %}
{% block main %}
  <main id="main">
    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs" data-aos="fade-in">
      <div class="container">
        <h2>Profile</h2>
        <p>Est dolorum ut non facere possimus quibusdam eligendi voluptatem. Quia id aut similique quia voluptas sit quaerat debitis. Rerum omnis ipsam aperiam consequatur laboriosam nemo harum praesentium.</p>
      </div>
    </div>
    <!-- End Breadcrumbs -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">
        <div class="row mt-5">
          <div class="col-lg-8 mt-5 mt-lg-0">
            <form action="" method="post" role="form" enctype="multipart/form-data">
              {% csrf_token %}
              <div class="col-md-6 form-group">{{ form.username }}</div>
              <div class="col-md-6 form-group">{{ form.email }}</div>
              <div class="col-md-6 form-group">{{ form.profile_image }}</div>

              <div class="|">
                <button type="submit">Update</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
  </main>
  <script>
    let inputs = document.querySelectorAll('input')
    inputs.forEach((input) => {
      input.classList.add('form-control')
      if (input.name == 'username') {
        input.setAttribute('placeholder', 'Your username')
      }
      if (input.name == 'email') {
        input.setAttribute('placeholder', 'Your Email')
      }
    })
    
    let form_elements = document.querySelectorAll('form > *')
    form_elements.forEach((form_element) => {
      form_element.setAttribute('style', 'margin-bottom:15px')
    })
    
    let submit_buttons = document.querySelectorAll('button')
    submit_buttons.forEach((submit_button) => {
      submit_button.setAttribute('style', 'border:none; margin-left:0px;')
      submit_button.classList.add('get-started-btn')
    })
  </script>
{% endblock %}
